

<%= link_to image_tag @picture.image_url %>
<% @picture.comments.each do |comment| %>
<% user = comment.user_id%> 
<% found = User.all.find(user) %>
<h2><%= name = found.username %></h2> <br>
<%= comment.content %> <br>


<% end %>